#animi1 {
    animation-name: animi1;
    animation-timing-function: linear;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
    animation-direction: alternate-reverse;
} 
@keyframes animi1 {
    from{
        transform: translateY(0px);
        color: aquamarine;
        top: 0;
    }
    to {
        transform: translateY(340px);
        color: orangered;
        background-color: aquamarine;
        top: 0;
            
      }
}
    

.input{
    background-color: thistle;
}
#input{
    outline-color: transparent;
    background-color: papayawhip;
}
.cal_size{
    width: 100%;
    background-color: thistle;
}
.cal_in{
    margin: 0 auto;
}

.ring {
    border: thin solid red;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 0 auto;
}
#ring{
    
    animation-name: ring;
    animation-timing-function: linear;
    animation-duration: 4s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}
@keyframes ring {
    from{
        transform: rotateX(0deg),translateX(0px);
        top: 0;

    }
    to{
        transform: rotateX(360deg), translateX(200px);
        top: 0;
    }
}

#ring1{
    position: absolute;
    top: 450px;
    left: 550px;
}
#ring2{
    position: absolute;
    top: 400px;
    left: 700px;
}
#ring3{
    position: absolute;
    top: 570px;
    left: 580px;
}
#ring4{
    position: absolute;
    top: 550px;
    left: 750px;
}